@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc View</title>
</head>
<body>
    <h3>Sub operation</h3>
    <p>
        Result: @Model
    </p>
</body>
</html>
